/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-planty-testimonial {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px;
	max-width: 1175px;
	margin: 0 auto;
}

.wp-block-planty-testimonial > .testimonial {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.wp-block-planty-testimonial img {
	max-width: 126px;
}

.wp-block-planty-testimonial .testimonial-content {
	margin-left: 20px;
	max-width: 200px;
}

.wp-block-planty-testimonial .testimonial-content h2 {
	margin: 0 0 10px 0;
	color: #3b8e46;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	word-break: normal;
}

.wp-block-planty-testimonial .testimonial-content p {
	margin: 0;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

/* Medium devices (tablets, less/equal than 992px) */
@media (max-width: 992px) {
	.wp-block-planty-testimonial {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	.wp-block-planty-testimonial {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}